.button {
	padding: 0.25rem 0.75rem;
	display: flex;
	border: none;
	min-width: 2rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: color(PurpleDark, 0.85);
	border: 1px solid color(PurpleDark);
	color: color(White);
	border-radius: $base-border-radius;
	&:focus {
		background-color: color(PurpleLight);
		outline: none;
	}
	&:hover {
		background-color: color(PurpleDark, 0.95);
	}
	&__icon {
		line-height: 2rem;
		--stroke: 0.15em;
		font-size: 14px;
	}
	&__text {
		font-size: rem(14);
		display: inline-block;
		line-height: 2rem;
		& + .button__icon {
			margin-left: 0.5rem;
		}
	}
	&__icon {
		opacity: .5;
		& + .button__text {
			margin-left: 0.5rem;
		}
	}
	&--nude{
		background-color: transparent; 
		border: none; 
		color: color(Black); 
		height: 2.5rem;
		opacity: 0.25;
		&:focus,
		&:hover{
			background-color: transparent; 
			opacity: 0.5;
		}
	}
	&--disabled{
		opacity: 0.5; pointer-events: none; 
	}
	&--large {
		padding: 0.5rem 1.5rem;
	}
	@each $color-name, $color-value in $colors {
		&--#{to-lower-case($color-name)} {
			background-color: $color-value;
			color: contra($color-value);
			border: 1px solid darken($color-value, 10%);
			&:focus {
				background-color: lighten($color-value, 5%);
				outline: none;
			}
			&:hover {
				background-color: darken($color-value, 10%);
			}
		}
	}
}
